@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: azure;
}

h1{
    padding-top: 1em;
}

nav{
    background-color: #0969A3;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: azure;
}

.nav-container{
    min-height: 80px;
    display: flex;
    margin: 0 auto;
    max-width: 970px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#ballSection{
    text-align: center;
    background-image: url("content/adrien-olichon-R2OM3BvN-Uo-unsplash.jpg");
    background-size: contain;
}

#ball {
    height: 80vh;
    max-width: 100%;
    margin: 15px auto;
    border: 1px solid #2c3e50;
    background-color: #45464c;
}

#asyncImage{
    background-color: #ecf0f5;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
}

#actionText{
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 1em 0;
    background-color: #222d32;
}

@media (max-width: 600px) {
    .nav-container{
        align-items: start;
        flex-direction: column;
    }
    .nav-container li{
        padding: 16px 8px;
    }
}